/* === Global Variables === */
* {
  --bodoni-moda: 'Bodoni Moda', 'serif';

  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: floralwhite;
}

/* === General container === */
.container{
  min-height: 100vh;
}

.container h2{
  font-size: 1.3rem;
  font-weight: 600;
  margin:0 ;
}

.countup-detail span.h2{
  font-size: 1rem;
  font-weight: 700;
}

/* === Hero section === */
.hero h2{
  font-family: var(--bodoni-moda);
  font-weight: 800;
  font-size: 100px;
  color: #363638;
}

.hero p{
  font-size: 16px;
  font-weight: 300;
  color: #363638;
}

/* === Count up section === */
.count-up{
  padding: 0;
}

.countup-date{
  margin: 20px 0;
}


.date-wrapper {
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  margin: 0.2rem;
  background-color: #1b1f24;
}

.date-value,
.date-unit {
  font-family: 'Poppins';
  color: white;
}

.date-value {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.5rem;
}

.date-unit {
  font-size:14px;
  font-weight: 500;
}

.radio-toolbar{
  margin-bottom: 10px;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  background-color: #ffebeb;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 6px;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #fdc3c3;
}

/* === Section # - Memories of === */

.memories h2{
  padding-bottom: 20px;
}

.memory-container{
  margin: 0;
}

.memory{
  cursor:pointer;
  padding: 0;
  transform:
    perspective(800px)
    rotateY(25deg) scale(0.9)
    rotateX(10deg);
  filter: blur(2px);
  opacity: 0.5;
  transition: 0.6s ease all;
}

.memory:hover{
  transform:
    perspective(800px)
    rotateY(-15deg)
    translateY(-30px)
    rotateX(10deg)
    scale(1);
  filter: blur(0);
  opacity: 1;
}

.memory img{
  width:180px;
  height:230px;
  border-radius:10px;
  object-fit: cover;
  box-shadow:0 0 100px 5px rgba(0, 0, 0, 0.25);
  position: relative;
}

.memory span.year-tag {
  font-weight: 600;
  padding: 4px 16px;
  background-color: rgba(255, 255, 255, .2);
  color: #fff;
  backdrop-filter: blur(1px);
  position: absolute;
  bottom: 0px;
  left:0;
  right:0;
  margin-inline: auto;
  width: fit-content;
  border-radius: .4rem;
  border: solid 1px rgba(255, 255, 255, .2);
  transition: 0.6s ease all;
  opacity: 0;
}

.memory:hover span.year-tag{
  opacity: 1;
  bottom: 20px;
}

/* === Gallery inside modal === */

.gallery{
  width: fit-content;
  margin: 0;
  gap: 10px;
}

.galery-item{
  padding:0;
  border-radius:8px;
  overflow: hidden;
  position: relative;
  transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.galery-item img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin:0;
  scale: 1;
  position: relative;
  transition: 0.3s ease all;
}

.galery-item:hover img{
  scale: 1.1;
}

.galery-item:hover .item-caption {
  opacity: 1;
}

.galery-item:hover {
  box-shadow:0 5px 20px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.galery-item span{
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
  padding: 2px 8px;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, .2);
  background-color: rgba(255, 255, 255, .2);
  transition: 0.6s ease all;
}

.item-caption{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  position: absolute;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
  transition: 0.3s ease all;
}

.item-place{
  top: 10px;
}

.item-date{
  bottom: 10px;
}

/* === Accordion gallery === */

.acc-gallery{
  width: 100%;
  margin: 0;
  gap: 0px;
  border-radius: 10px;
  overflow: hidden;
}

.acc-item{
  flex:1;
  padding:0;
  position: relative;
  transition: .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.acc-item img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin:0;
  position: relative;
  transition: 0.5s ease all;
  filter: blur(1px) grayscale(1);
  opacity: .8;
}

.acc-item-caption{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: .3s ease all;
}

.acc-item:hover .acc-item-caption {
  opacity: 1;
}

.acc-item:hover img {
  opacity: 1;
  filter: blur(0) grayscale(0);
}

.acc-item:hover {
  box-shadow:0 5px 20px 5px rgba(0, 0, 0, 0.2);
  flex:6;
}

.acc-item span{
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
  padding: 2px 8px;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, .2);
  background-color: rgba(0, 0, 0, .2);
  backdrop-filter: blur(2px);
  transition: .2s ease all;
}

.item-info{
  bottom: 10px;
}

.text{
  margin: 0;
  padding: 20px 0;
}

.text p{
  padding:0;
  margin:0;
  font-size: 12px;
  text-align: left;
}

/* === Footer Section === */

.footer-container{
  padding: 20px;
}

.footer{
  padding: 16px;
  font-weight: 400;
  font-size: 12px;
  color: #363638;
  background-color: #fedada;
  text-align: center;
  border-radius: 10px;
}

/* === Aurora body background === */

.aurora {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
}
.aurora::before, .aurora::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 100%;
  opacity: 0.18;
}

.aurora::before {
  box-shadow: 0 0 35vh 35vh #f00;
  animation: hue 5s 0s linear infinite, move1 10s 0s linear infinite;
}

.aurora::after {
  box-shadow: 0 0 35vh 35vh #0ff;
  animation: hue 10s 0s linear infinite, move2 20s 0s linear infinite;
}

/* Aurora animation */

@-webkit-keyframes hue {
  0% {
    filter: hue-rotate(0deg);
 }
  100% {
    filter: hue-rotate(360deg);
 }
}
@-o-keyframes hue {
  0% {
    filter: hue-rotate(0deg);
 }
  100% {
    filter: hue-rotate(360deg);
 }
}
@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
 }
  100% {
    filter: hue-rotate(360deg);
 }
}

@-webkit-keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
 }
  25% {
    left: 0vw;
 }
  50% {
    top: 100vh;
 }
  75% {
    left: 100vw;
 }
  100% {
    top: 0vh;
    left: 50vw;
 }
}
@-o-keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
 }
  25% {
    left: 0vw;
 }
  50% {
    top: 100vh;
 }
  75% {
    left: 100vw;
 }
  100% {
    top: 0vh;
    left: 50vw;
 }
}
@keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
 }
  25% {
    left: 0vw;
 }
  50% {
    top: 100vh;
 }
  75% {
    left: 100vw;
 }
  100% {
    top: 0vh;
    left: 50vw;
 }
}

@-webkit-keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
 }
  25% {
    top: 100vh;
 }
  50% {
    left: 0vw;
 }
  75% {
    top: 0vh;
 }
  100% {
    top: 50vh;
    left: 100vw;
 }
}
@-o-keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
 }
  25% {
    top: 100vh;
 }
  50% {
    left: 0vw;
 }
  75% {
    top: 0vh;
 }
  100% {
    top: 50vh;
    left: 100vw;
 }
}
@keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
 }
  25% {
    top: 100vh;
 }
  50% {
    left: 0vw;
 }
  75% {
    top: 0vh;
 }
  100% {
    top: 50vh;
    left: 100vw;
 }
}
